$black: #000;
$white: #fff;
$dimension: 300px;

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    background-color: $black;
    color: $white;
    padding: 50px;
    @media (max-width:767px) {
        grid-template-columns: repeat(2, 1fr);
      }
}
.cardBox{
    display: grid;
    border: 1px solid #fff;
    padding: 5px;
}
.image-box{
position: relative;
height: $dimension;
width: $dimension;
@media (max-width:767px) {
    width: auto;
    height: auto;
  }
img{
    width: 100%;
}
}
.name-created{
    position: absolute;
    bottom: 0;
    display: flex;
    background: rgba(0,0,0,0.5);
    flex-direction: column;
    right: 0;
    left: 0;
    padding: 10px;
}
.character-name{
    display: flex;
    font-size: 14px;
    margin-bottom: 5px;
}
.character-created{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.cardBox-details{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    li{
        display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    span{
        &:first-child{
            text-align: left;
        }
        &:last-child{
            text-align: right;
        }
    }
    &:last-child{
        border-bottom: none;
    }
    }
}
.search-select{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    align-items: center;
    padding: 0 50px;
}
.cards-section{
    background: $black;
    color: $white;
}