.checkbox-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    @media (max-width:767px) {
        grid-template-columns: 10px 10px;
      }
    input{
        justify-self: flex-end;
    }
    label{
        justify-self: flex-start;
    }
}