$black: #000;
$white: #fff;

.sidebar{
    color: $white;
    background-color: $black;
    @media (max-width:767px) {
        padding: 50px;
      }
}
.sidebar-checkbox{
    display: grid;
    grid-gap: 1rem;
}
.filter-box{
    margin-bottom: 20px;
    @media (max-width:767px) {
        text-align: left;
      }
}
.filter-label{
    font-size: 18px;
    font-family: volte,sans-serif;
    margin-bottom: 10px;
    display: inline-block;
}