$grey:grey;
$white:#fff;

.search-box{
    display: flex;
}
.search-label{
    font-size: 1.5em;
    margin-right: 15px;
}
.search-input{
    width: 200px;
    padding: 0 10px;
    border: none;
    @media (max-width:767px) {
        width: auto;
      }
}
.search-button{
    background:$grey;
    border: none;
    color:$white;
}