html,body,#root{
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
  height: 100%;
}

.App-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 2px;
  height: 100%;
  @media (max-width:767px) {
    grid-template-columns: 1fr;
  }
}

